@import "dockview/dist/styles/dockview.css";
@import "tailwindcss";
@import "tw-animate-css";

body {
  margin: 0;
  min-height: 100vh;
}

:focus,
:focus-visible,
*[data-focus] {
  outline: none !important;
}

.dv-bg {
  background-color: var(--dv-background-color);
}

.dv-fg {
  color: var(--dv-activegroup-visiblepanel-tab-color);
}

.dv-border {
  border-color: var(--dv-separator-border);
}
.dv-hover-bg {
  background-color: var(--dv-drag-over-background-color);
}

.dv-hover-fg {
  color: var(--dv-drag-over-tab-color);
}
.dv-group-bg {
  background-color: var(--dv-group-view-background-color);
}

.dv-tab-bg {
  background-color: var(--dv-activegroup-visiblepanel-tab-background-color);
}
