/* @import url("./xy-theme.css"); */
@import "dockview/dist/styles/dockview.css";

@import "tailwindcss";
@import "tw-animate-css";

body {
  margin: 0;
  min-height: 100vh;
}

:root {
  --dialog-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

:focus,
:focus-visible,
*[data-focus] {
  outline: none !important;
}

.dv-bg {
  background-color: var(--dv-background-color);
}

.dv-fg {
  color: var(--dv-activegroup-visiblepanel-tab-color);
}

.dv-border {
  border-color: var(--dv-separator-border);
}
.dv-hover-bg {
  background-color: var(--dv-drag-over-background-color);
}

.dv-hover-fg {
  color: var(--dv-drag-over-tab-color);
}
.dv-group-bg {
  background-color: var(--dv-group-view-background-color);
}

.dv-tab-bg {
  background-color: var(--dv-activegroup-visiblepanel-tab-background-color);
}
.dv-height-tab {
  height: var(--dv-tabs-and-actions-container-height);
}
.dv-bg-tab-container {
  background-color: var(--dv-tabs-and-actions-container-background-color);
}

.dv-divider-tab-color {
  border: var(--dv-activegroup-visiblepanel-tab-color);
}
.dv-shadow {
  box-shadow: var(--dialog-box-shadow);
}
